*{
    margin:0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background:linear-gradient(rgb(240, 159, 226),#03e9fa);
    min-height: 100vh;
    padding: 150px 0;
    box-sizing:border-box;

}

.newsletter{
    background: #0c5adb;
    margin:o auto;
    text-align: center;
    max-width: 330px;
    padding: 50px 30px;
    border-radius: 10px;
    color: #fff;
    margin-left: 35%;
    
}

.newsletter hr{
    width:100px;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background:rgba(255 ,255,255,0.8); 
}

.newsletter p{
font-size: 16px;
line-height: 24px;
color:white;
margin-bottom: 30px;
}

.newsletter input{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    width: 80%;
    height: 55px;
    border:0;
    padding:0 20px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 30px;
    font-size: 16px;
}

::placeholder{
    color:rgba(255 ,255,255,0.8)

}

.newsletter button{
    border: 1px solid rgba(255 ,255,255,0.5);
    border-radius: 30px;
    height: 50px;
    background-color: transparent;
    color: white;
    padding: 0 28px;
    transition: 0.5s;
}

.newsletter button:hover{
    background-color: teal;
    border-color: #cc0dbc;
    font-size: 16px;

}





















